

.fitty-fitty {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;


}

.billede-tekst img {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 20px;

}