
/* fitty-fitty */

.fifty-fifty {
    display: flex;
    max-width: 70%;
    margin: 8% auto 0 auto;
    justify-content: center;
    
}

.fifty-fifty-billede {
    width: 50%;
}

.fifty-fifty-billede img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* bevarer billedets proportioner */

}

.fifty-indhold {
    position: relative; /* gør at guldhjørnerne kan sidde ovenpå indholdet */
    padding: 4em;
    width: 50%;
    background: #6f4e37;
    color: white;
}

/* arrang - font og tekst farve */

.fifty-indhold h2{
    margin-bottom: 0.5em;
}

.fifty-indhold p{
    font-family: 'roboto', sans-serif;
    font-size: 1.3vw;
    line-height: 1.5em;
}

/*kork baggrunds fifty fifty*/

.fifty-indhold-kork {
    position: relative;
    padding: 4em;
    width: 50%;
    background-image: url(images/kork-baggrund.jpg);
    color: white;
}

.fifty-kork-baggrund img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fifty-indhold-kork h2 {
    margin-bottom: 0.5em;
}

.fifty-indhold-kork p {
    font-family: 'roboto', sans-serif;
    font-size: 1.3vw;
    line-height: 1.5em;
}


/*-----------Om os side------------*/
/*Vores histoire afsnit*/


#historie-container{ /*Kan laves om til id#*/
    width: 60%;
    display: flex;
    padding: 4rem 4rem;
    border: #6f4e37 solid 2px;
    border-radius: 3rem;
    margin: 10% auto 5%;
    justify-content: space-between;
    position: relative;
}

.historie-billede{
    width: 50%;
    margin-right: 2rem;
}

.historie-billede img{
    width: 100%;
}

.silkeborgsbedste{
    position: absolute;
    left: 41%;
    top: 70%;
    width: 80%;
}

.silkeborgsbedste img{
    width: 12%;
}

.historie-tekst{
    width: 50%;
}

.historie-tekst p{
    padding-top: 2%;
    padding-bottom: 2%;
}


/* Kaffekande-collage galleri */

#billedkande {
    display: flex;

    width: 60%;
    height: 80%;
    margin: 5% auto;
    position: relative;
    align-items: center;
}

#billedkande img{
    width: 60%;
    height: 80%;
    margin: auto;
}  


.cta{
    position: absolute;
    top: 80%;
    right: 0;
}


/*Comuterfri og hundevenlig*/
.fifty-fifty{ /*CSS til dissse sektioner er under genrelle styles i styles.css*/
    margin-bottom: 10%;
}

/*Dette siger vores gæster*/

#gæster{
    margin-top: 10%;
    width: 100%;
    color: black;
    position: relative;
    z-index: 2;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5%;
    
}

#gæster h2{
    margin-left: 2%;
    margin-bottom: 1%;
}

#gæsterindhold{
    background-color: #b08968;
    width: 100%;
    display: flex;
}

.citater{
    background-color: antiquewhite;
    margin: 2% auto;
    padding: 6% 2%;
    border-radius: 1rem;
    width: 20%;
   
}

.citater p{
    text-align: center;
    font-size: 1.2rem;
    white-space: normal;
}

.citater h4{
    font-family: 'roboto', sans-serif;
    font-size: 1.3rem;
    white-space: normal;
    text-align: center;
}




/*-----Lille nyhedsbrev----*/
.brevkorkbaggrund{
    width: 100%;
    position: relative;
    height: 500px;
    margin-top: 10%;
    overflow: hidden; 
}

.brevkorkbaggrund img{
    border-radius: 5rem 5rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;            
    position: relative;
}

.brev{
    position: absolute;
    width: 100%;
    z-index: 8;
    bottom: -5%;
    left: 15%;
}

.brev img { 
    width: 30%; 
    transform: rotate(17deg);
}

/*  ---  MÅSKE DE SKAL BYTTE PLADS? (altså brev og tilmelding, mere intuitivt?) --- */

.nyhedsbrevtekst{
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: 6;
}

.nyhedsbrevtekst p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}


.tilmeld-kasse {
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2.2rem;
    text-align: center;
    position: absolute;
    z-index: 20; /* SIKRER at boksen ligger ovenpå */
    bottom: 10%;
    right: 15%;
    
    /* glas-effekt */
    border: solid #fff 3px;
    background: linear-gradient(
      90deg,
      rgba(176,137,104,0.4) 0%,
      rgba(111,78,55,0.4) 100%
    );
    backdrop-filter: blur(0.5rem);
}

.tilmeld-indhold h2 {
    color: #fff;
    margin: 0 0 0.5rem 0;
}
.tilmeld-indhold p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: #fff;
}

label {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: #fff;
}


#email {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 2px;
    color: #fff;
    margin-top: 1rem;
    padding: 0.3rem 0.2rem;
    width: 60%;
    box-sizing: border-box;
}

.cta-input {
    width: 50%;
    background-color: #738743;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.2rem;
    margin-top: 1.2rem;
    font-size: 1.0rem;
    cursor: pointer;
}

.cta-input:hover {
    background-color: #ADC178;
    color: #000;
    transition: 0.3s ease-in-out;
}