
/* fitty-fitty */

.fifty-fifty {
    display: flex;
    max-width: 75%;
    margin: 3% auto 0;
    justify-content: center;
}

.fifty-fifty-billede {
    width: 50%;
}

.fifty-fifty-billede img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* bevarer billedets proportioner */

}

.fifty-indhold {
    position: relative; /* gør at guldhjørnerne kan sidde ovenpå indholdet */
    padding: 4em;
    width: 50%;
    color: white;
    background-color: #6f4e37;
}

/* arrang - font og tekst farve */

.fifty-indhold h2{
    margin-bottom: 0.5em;
}

.fifty-indhold p{
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/*kork baggrunds fifty fifty*/

.fifty-indhold-kork {
    position: relative;
    padding: 4em;
    width: 50%;
    background-image: url(images/kork-baggrund.jpg);
    color: white;
    text-shadow: 2px 4px 4px rgb(0, 0, 0, 0.6);
}

.fifty-kork-baggrund img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fifty-indhold-kork h2 {
    margin-bottom: 0.5em;
}

.fifty-indhold-kork p {
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/*-----------OM CAFEEN SIDE --------------------------------------------------------------------*/
/*Vores histoire afsnit*/


#historie-container{ 
    width: 80%;
    max-width: 1200px;
    display: flex;
    padding: 3rem 3rem;
    border: #6f4e37 solid 2px;
    border-radius: 3rem;
    margin: 10% auto 3%;
    justify-content: space-between;
    position: relative;
}

.historie-billede{
    width: 50%;
    margin-right: 2rem;
}

.historie-billede img{
    width: 100%;
    aspect-ratio: 6/5;
    object-fit: cover;
}

.silkeborgsbedste{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
}

.silkeborgsbedste img{
    width: 50%;
    transform: rotate(-5deg);
}

.historie-tekst{
    width: 50%;
}

.historie-tekst p{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.1rem;
}


/* Kaffekande-collage galleri */

#billedkande {
    display: flex;

    width: 60%;
    height: 80%;
    margin: auto;
    position: relative;
    align-items: center;
}

#billedkande img{
    width: 60%;
    height: 80%;
    margin: auto;
}  


.cta{
    position: absolute;
    top: 80%;
    right: 0;
}


/*Comuterfri og hundevenlig*/
.fifty-fifty{ 
    margin-bottom: 10%;
}

/*Dette siger vores gæster*/

#gaester{
    margin-top: 10%;
    width: 100%;
    color: black;
    position: relative;
    z-index: 2;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5%;
    
}

#gaester h2{
    margin-left: 2%;
    margin-bottom: 1%;
}

#gaesterindhold{
    background-color: #b08968;
    width: 100%;
    display: flex;
}

.citater, .citater2{
    background-color: antiquewhite;
    margin: 2% auto;
    padding: 6% 2%;
    border-radius: 1rem;
    width: 20%;
   
}

.citater p, .citater2 p{
    text-align: center;
    font-size: 1.2rem;
    white-space: normal;
}

.citater h4, .citater2 h4{
    font-family: 'roboto', sans-serif;
    font-size: 1.3rem;
    white-space: normal;
    text-align: center;
}




/*-----Lille nyhedsbrev----*//*Næsten samme css som til på forsiden, men med små tweaks*/
.brevkorkbaggrund{
    width: 100%;
    position: relative;
    height: 500px;
    margin-top: 10%;
    overflow: hidden; 
}

.brevkorkbaggrund img{
    border-radius: 5rem 5rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;            
    position: relative;
}

.brev{
    position: absolute;
    width: 100%;
    z-index: 8;
    bottom: 10%; 
    left: 15%;
}

.brev img { 
    width: 25%; 
    border-radius: 0;
}

.nyhedsbrevtekst{
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: 6;
}

.nyhedsbrevtekst p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}


.tilmeld-kasse {
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2.2rem;
    text-align: center;
    position: absolute;
    z-index: 20;
    bottom: 10%;
    right: 15%;
    
    /* glas-effekt */
    border: solid #fff 3px;
    background: linear-gradient(
      90deg,
      rgba(176,137,104,0.4) 0%,
      rgba(111,78,55,0.4) 100%
    );
    backdrop-filter: blur(0.5rem);
}

.tilmeld-indhold h2 {
    color: #fff;
    margin: 0 0 0.5rem 0;
}
.tilmeld-indhold p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: #fff;
}

label {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    color: #fff;
}


#email {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 2px;
    color: #fff;
    margin-top: 1rem;
    padding: 0.3rem 0.2rem;
    width: 60%;
    box-sizing: border-box;
}

.cta-input {
    width: 50%;
    background-color: #738743;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.2rem;
    margin-top: 1.2rem;
    font-size: 1.0rem;
    cursor: pointer;
}

.cta-input:hover {
    background-color: #ADC178;
    color: #000;
    transition: 0.3s ease-in-out;
}



/*----------TIL MOBIL-----------------------------------------------------------------------------------*/


@media screen and (max-width: 600px) {

    /*Fifty fifty afsnit*/

    .fifty-fifty{
        min-width: 90%;
        margin: 15% auto 0;
    }

    .fifty-fifty, .fifty-fifty-billede img{
        display: block;
    }
    
    .fifty-indhold, .fifty-indhold-kork, .fifty-fifty-billede{
        width: 100%;
    }

    .fifty-indhold p, .fifty-indhold-kork p{
        font-size: 1rem;
    }


    /*-----Om caféen-----*/

    /*Vores historie afsnit*/
    #historie-container{
        display: block;
        width: 90%;
        margin-top: 25%;
        padding: 2rem;
    }

    .historie-billede{
        width: 100%;
    }

    .historie-billede img{
        aspect-ratio: 1/1;
    }

    .historie-tekst{
        width: 100%;
        margin-top: 5%;
    }
    .silkeborgsbedste{
        top: 37%;
        left: 80%;
    }

    .silkeborgsbedste img{  /*Dont know whar to do with this....*/
        width: 100%;
    }

    /*Kaffekande billede*/
    #billedkande{
        width: 100%;
        margin-bottom: 10rem;
    }

    #billedkande img{
        width: 80%;
    }

    .cta{
        top: 95%;
        left: 4%;
    }


    /*Dette siger vores gæster*/
    #gaesterindhold{
        gap: 1rem;   
        padding: 5% 2%; 
    }
    

    .citater2{
        display: none;
    }

    .citater{
        width: 60%;
    }

    .citater h4, .citater p{
        font-size: 0.9rem;
    }

    /*Nyhedsbrev*/
    .brevkorkbaggrund{
        height: 700px;
        display: block;
    }


    .nyhedsbrevtekst {
        top: 7%;
    }

    .nyhedsbrevtekst p{
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
    }

    .brev{
        width: 60%;
        left: 20%; 
        bottom: 8%;
    }

    .brev img{
        width: 100%;
    }

    .tilmeld-kasse{
        width: 50%;
        bottom: 40%;
        padding: 0.5rem;
        right: 25%;
    }
    
    .cta-input{
        padding: 0.8rem 1.7rem;
        font-size: 1rem;
    }

    .cta-input:hover {
        transition: none;
        background-color: #738743;
        color: #fff;
    }

}

/* tablet størrelse ------------------------------------------------*/

@media screen and (min-width: 601px) and (max-width: 1000px){
    .fifty-fifty{
        max-width: 85%;
    }

    .fifty-indhold p, .fifty-indhold-kork p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    /*nyhedsbrev sektion*/

    .brev{
        bottom: 16%;
    }

    .brev img{
        width: 30%;
    }

    .tilmeld-kasse{
        width: 32%;
    }

    .tilmeld-indhold h2 {
        font-size: 1.8rem;
    }

    .cta-input{
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .cta-input:hover {
        transition: none;
        background-color: #738743;
        color: #fff;
    }

    /* om caféen afsnit ----------------*/

    #historie-container{
        width: 85%;
        margin: 15% auto 2%;
        padding: 1rem;
    }

    .historie-tekst p{
        font-size: 1rem;
    }

    .historie-billede {
        margin: 0;
        padding: 2rem;
    }

    .historie-billede img {
        aspect-ratio: 1/1;
    }

    .silkeborgsbedste {
        top: 70%;
    }
    
    .silkeborgsbedste img {
        width: 43%;
    }

    #billedkande{
        width: 90%;
        height: auto;
        overflow: hidden;
    }
    .cta{
        top: 75%;
        left: 65%;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }
}