
/* hero-sektion*/

#hero-container {
    width: 100%;
    height: 100vh;
}

#hero {
    width: 100%;
    height: 91vh;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

#hero-overlay {
    position: absolute;
    width: 100%;
    height: 91vh;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.3); /* mørk overlay*/

}


/* hero-logo */

#hero-logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;

}

#hero-logo img {
    width: 100%;
    height: auto;
}

/* animationsbanner*/ 


.rullebaand {
    height: 9vh;

    background-color: #6F4E37; 
    color: #FFFFFF; 
    font-size: 1.2rem;
    font-family: "roboto", sans-serif;
    
    display: flex;
    overflow: hidden; 
    user-select: none; /* forhindrer markering af tekst */
    --gap: 4px; 
     gap: var(--gap); 

} 

.rullebaand ul {
    list-style: none;
    flex-shrink: 0; /* bredden er udvidet efter behov */
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);

}

.rullebaand .coffee {
    margin-inline: 4px;
}

.rullebaand .coffee-bean {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


/* info sektionen på forsiden*/ 

#info-kasse { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    position: relative;
    max-width: 1400px;
    margin: auto;
    
}

#info-indhold { 
    display: flex;
    max-width: 100%;
    gap: 2rem;
    padding: 1rem;
}


.info-kolonner { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 50%;
}

.info-sektion {
    width: 100%;
    height: 50%;
    text-align: left;
}

.info-sektion h2 { 
    margin-bottom: 1rem;
}

.info-sektion p { 
    font-family: 'roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.info-aabning {
   display: flex; 
   justify-content: space-between;
}

#info-facade-billede {
    width: 100%;
    height: 50%;

}

#info-facade-billede img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 6/3;
}


/* tre-kolonner sektion*/ 

#tre-kolonner-container {
    background-image: url('images/kork-baggrund.jpg');
    background-position: center;
    border-radius: 5rem;

    max-width: 100%;
    height: 100%;
    margin: 6% 12%;

    display: flex;
    justify-content: space-around; /* placerer kolonnerne med plads imellem */

}

.kolonne {
    background-color: #B08968;
    position: relative;
    margin: 2rem;
    padding: 2rem;
    
    width: 50%;
    height: 100%; 

    border-radius: 4rem;
    justify-content: center;   
}

.kolonne-billede {
    width: 100%;
    height: 50%;
    
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 2rem;
    aspect-ratio: 6/4;

    border:#6f4e37 solid 3px;
}

.kolonne-billede img {
    width: 100%;
    height: 100%;
}

.kolonne-tekst {
    width: 100%;
    height: 13rem;
}

.kolonne-tekst h2 {
    margin-bottom: 0.5rem;
}

.kolonne-tekst p {
    font-size: 1.2rem;
}


/* computerfri og vores gæster siger sektion*/ 

#forside-computer-afsnit {
    background-color: #6f4e37;
    color: #fff;
    padding: 2rem;
    position: relative;
    max-width: 100%;
    margin: auto 12%;
}

#forside-computer-indhold {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1.5rem 1rem;
}

.forside-computer-col {
    flex: 1; /* en genvej der fordeler pladsen jævnt */
    text-align: center;
}

.forside-computer-col p {
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
    padding-top: 1rem;
}

.icon {
    width: 5rem;
    margin-bottom: 1rem;
}

#computer-divider {
    width: 1px;
    background-color: #fff;
}

/* billede kassen*/ 
.forside-computer-billede{
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin: 1rem auto; /* første værdi er top/bund, anden er venstre/højre (altså siderne). kan gøres sådan her hvis man ikke vil skrive margin-left osv.*/

}

/*selve billedet*/
.forside-computer-billede img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*får billedet til at udfylde kassen uden strech*/
}


/* Nyhedsbrev sektion */ 

#kork-boelge-mobil{
    display: none;
}

#nyhedsbrev-forside {
    display: flex;
    max-width: 100%;
    max-height: 800px;
    margin-top: 10rem;
    position: relative;
    z-index: 1;
}

#nyhedsbrev-forside img{
    width: 100%;
    height: 100%;
}

.brev-illustration {
    width: 43%;
    height: auto;
    transform: rotate(-13deg);
    position: absolute;
    z-index: 3;
    bottom: 35%;
    left: 13%;
}

.brev-illustration img {
    width: 100%;
    height: 100%;
    box-shadow: 20px 30px 15px rgb(0, 0, 0, 0.3);
}

.tilmeld-kasse {
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2.5rem;

    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: 10%;
    right: 10%; 


/* glas-effekt */
    border: solid #fff 2px;
    background: rgb(176, 137, 104, 0.4);
    background: linear-gradient(90deg, rgba(176, 137, 104, 0.4) 0%, rgba(111, 78, 55, 0.4) 100%);
    backdrop-filter: blur(0.5rem);
}

/* font og farve */

.tilmeld-indhold h2 {
    color: #fff;
}

label {
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;
    color: #fff;

}

#email {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 2px;
    color: #fff;

    margin-top: 2rem;

}

.cta-input {
    width: 50%;
    background-color: #738743;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.2rem;
    margin-top: 2rem;
    font-size: 1.2rem; 
    cursor: pointer;

}

.cta-input:hover {
    background-color: #ADC178;
    color: #000;
    transition: 0.3s ease-in-out;
}


/*MOBIL STØRRELSE ---- max-width:500px */

@media screen and (max-width: 600px) {

    #hero-container {
        height: 100dvh;
    }

    #hero-logo {
        width: 50%;
    }

    #hero{
        height: 91dvh;
    }

    #hero-overlay{
        height: 91dvh;
    }

    .rullebaand{
        height: 9dvh;
    }

    #info-kasse {
        flex-direction: column;
        padding: 1rem; 
    }

    #info-indhold {
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem; 
    }

    .info-kolonner {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
    }

    .info-hoejre {
        order: 1; /*den højre info kolonne bliver vist øverst - fungerer kun med flexboks*/
    }

    .info-venstre{
        order: 2;
    }

    .aabningstid{
        order: 2;
    }

    #info-facade-billede {
        height: auto;
        margin-top: 1rem;
        order: 1; /*viser billedet før åbningstider*/
    }

    .info-sektion {
        height: auto;
        padding: 1.5rem 0;

    }

    .info-sektion p{
        font-size: 1.1rem;
    }

    /* ---- tre-kolonner sektion ---- */
    
    #tre-kolonner-container {
        width: 90%;
        flex-direction: column;
        margin: 15% auto;
        align-items: center;
    }

    .kolonne {
        width: 75%;
        margin: 2rem 0;
    }



    /* ----- pc og gæster ----- */

    #forside-computer-afsnit{
        padding: 1rem;
        margin: auto 5%;
    }

    #forside-computer-indhold {
        flex-direction: column;
        height: auto;
    }

    .icon{
        width: 4rem;
    }

    .forside-computer-col p{
        padding-bottom: 1.2rem;
    }

    .forside-computer-billede {
        margin: 0.3rem auto;
    }

    #computer-divider {
        width: 100%;
        height: 1px;
    }

    /* ---- nyhedsbrev sektion ---- */
    #kork-boelge{
        display: none;
    }

    #kork-boelge-mobil{
        display: block;
    }
    
    #nyhedsbrev-forside {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 1rem;
    }


    #nyhedsbrev-forside img{
        height: auto;
        object-fit: cover;
        margin-top: 20%;
    }

    .brev-illustration {
        width: 80%;
        bottom: 45%;
        left: 10%;
    }
    .brev-illustration img {
        width: 100%;
        object-fit: cover;
    }

    .tilmeld-kasse {
        width: 60%;
        bottom: 8%;
        left: 20%;
        line-height: 1.5rem;
    }
    .tilmeld-kasse h2{
        font-size: 1.5rem;
    }

    label {
        font-size: 1.1rem;
    }
  
    .cta-input{
        padding: 0.8rem 1.7rem;
        font-size: 1rem;
    }

    .cta-input:hover {
        transition: none;
        background-color: #738743;
        color: #fff;
    }

}

/*TABLET STØRRELSE -------------------------------- · max-width:960px*/

@media screen and (min-width: 601px) and (max-width: 1300px){

    #hero-container {
        height: 100dvh;
    }

    #hero-logo {
        width: 30%;
    }

    /*Info afsnit*/

    #info-kasse {
        padding: 1rem; 
    }

    #info-indhold {
        gap: 0.5rem;
        padding: 2rem; 
    }

    .info-kolonner {
        width: 100%;
        height: 100%;
        padding: 0 2rem;
    }

   #info-facade-billede {
        height: auto;
        margin-bottom: 2rem;
   }

   #info-facade-billede img {
        aspect-ratio: 5/3;
   }

    .info-sektion {
        height: auto;
        padding: 1.5rem 0;

    }

    .info-sektion p {
        font-size: 1.15rem;
    }

    /*  tre kolonner afsnit */

     #tre-kolonner-container {
        width: 90%;
        margin: 8% auto;
        align-items: center;
    }

    .kolonne {
        width: 75%;
        margin: 1.5rem 1rem;
    }

    /*computerfri / vores gæster siger afsnit*/

    #forside-computer-afsnit{
        padding: 1rem;
        margin: auto 5%;
    }

    #forside-computer-indhold {
        height: auto;
    }

    .forside-computer-col p{
        padding-bottom: 1.2rem;
    }

    .forside-computer-billede {
        margin: 0rem auto;
    }

    /*nyhedsbrev sektion*/

    #nyhedsbrev-forside {
        margin-top: 5rem;
    }

    .tilmeld-kasse {
        width: 30%;
        bottom: 8%;
        left: 62%;
        line-height: 1.5rem;
    } 

    .tilmeld-kasse h2{
        font-size: 1.8rem;
    }

    .cta-input{
        padding: 1rem 1.8rem;
        font-size: 1rem;
    }

    .cta-input:hover {
        transition: none;
        background-color: #738743;
        color: #fff;
    }
    
}