
/* hero-sektion*/

#hero {
    width: 100%;
    height: 90vh;
}

#hero img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 1;
    position: relative;
}


#hero-overlay {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.3); /* mørk overlay*/

}

/* hero-logo */

#hero-logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

#hero-logo img {
    width: 100%;
    height: auto;
}

/* animationsbanner*/ 


/* info sektionen på forsiden*/ 

#info-kasse { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    position: relative;
    max-width: 1400px;
    margin: auto;
    
}

#info-indhold { 
    display: flex;
    max-width: 100%;
    gap: 2rem;
    padding: 1rem;
}


.info-kolonner { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 50%;
}

.info-sektion {
    width: 100%;
    height: 50%;
    text-align: left;
}

.info-sektion h2 { 
    margin-bottom: 1rem;
}

.info-sektion p { 
font-family: 'roboto', sans-serif;
font-size: 1.3rem;
line-height: 2.5rem;
}

.info-aabning {
   display: flex; 
   justify-content: space-between;
}


#info-facade-billede {
width: 100%;
height: 50%;

}

#info-facade-billede img {
width: 100%;
height: 100%;
object-fit: cover;
aspect-ratio: 6/3;
}


/* tre-kolonner sektion*/ 

#tre-kolonner-container {
    background-image: url('images/kork-baggrund.jpg');
    background-position: center;
    border-radius: 5rem;

    max-width: 100%;
    height: 100%;
    margin: auto 12%;

    display: flex;
    justify-content: space-around; /* placerer kolonnerne med plads imellem */

}

.kolonne {
    background-color: #B08968;
    position: relative;
    margin: 2rem;
    padding: 2rem;
    
    width: 50%;
    height: 100%; 

    border-radius: 4rem;
    justify-content: center;   
}

.kolonne-billede {
    width: 100%;
    height: 50%;
    
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 2rem;
    aspect-ratio: 6/4;

    border:#6f4e37 solid 3px;
}

.kolonne-billede img {
    width: 100%;
    height: 100%;
    
}

.kolonne-tekst {
    width: 100%;
    height: 13rem;

}

.kolonne-tekst h2 {
    margin-bottom: 0.5rem;
}

.kolonne-tekst p {
    font-size: 1.2rem;
}


/* computerfri og vores gæster siger sektion*/ 

#forside-computer-afsnit {
    background-color: #6f4e37;
    color: #fff;
    padding: 2rem;
    position: relative;
    max-width: 100;
    margin: auto 12%;
}

#forside-computer-indhold {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 1.5rem 1rem;
}

.forside-computer-col {
    flex: 1; /* en genvej der fordeler pladsen jævnt */
    text-align: center;
}

.forside-computer-col p {
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
    padding-top: 1rem;
}

.icon {
    width: 5rem;
    margin-bottom: 1rem;
}

#computer-divider {
    width: 1px;
    background-color: #fff;
}

/* billede kassen*/ 
.forside-computer-billede{
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin: 1rem auto; /* første værdi er top/bund, anden er venstre/højre (altså siderne). kan gøres sådan her hvis man ikke vil skrive margin-left osv.*/

}

/*selve billedet*/
.forside-computer-billede img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*får billedet til at udfylde kassen uden strech*/
}


/* Nyhedsbrev sektion */ 

#nyhedsbrev-forside {
   max-width: 100%;
   max-height: 800px;

   position: relative;
   z-index: 1;

}

#nyhedsbrev-forside img{
    width: 100%;
    height: 100%;
}

.brev-illustration {
    width: 60%;
    height: 60%;

    position: absolute;
    z-index: 3;
    bottom: 15%;

}

.brev-illustration img {
    width: 100%;
    height: 100%;

}

.tilmeld-kasse {
    width: 25%;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 2.5rem;

    text-align: center;
    position: absolute;
    z-index: 5;
    bottom: 10%;
    right: 5%; 


/* glas-effekt */
    border: solid #fff 3px;
    background: rgb(176, 137, 104, 0.4);
    background: linear-gradient(90deg, rgba(176, 137, 104, 0.4) 0%, rgba(111, 78, 55, 0.4) 100%);
    backdrop-filter: blur(0.5rem);
}

/* font og farve */

.tilmeld-indhold h2 {
    color: #fff;
}

.tilmeld-indhold p {
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

label {
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;

}

#email {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 2px;
    color: #fff;

    margin-top: 2rem;

}

.cta-input {
    width: 50%;
    background-color: #738743;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 1rem 2.2rem;
    margin-top: 2rem;
    font-size: 1.2rem; 
    cursor: pointer;

}

.cta-input:hover {
    background-color: #ADC178;
    color: #000;
    transition: 0.3s ease-in-out;
}


/*Mobil max-width:500px Tablets · max-width:960px*/

@media screen and (max-width: 500px) {

    #info-kasse {
        flex-direction: column;
        padding: 1rem;
    }

    .info-kolonner {
        width: 100%;
        padding: 1rem;
    }

    #tre-kolonner-container {
        flex-direction: column;
        margin: auto 5%;
    }

    .kolonne {
        width: 100%;
        margin: 1rem 0;
    }

    #forside-computer-indhold {
        flex-direction: column;
        gap: 1rem;
    }

    #computer-divider {
        display: none;
    }

    .tilmeld-kasse {
        width: 80%;
        right: 10%;
        bottom: 5%;
    }

}