*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------------HEADER-------------------------------*/

header {
    background-color: #6F4E37;
    padding: 1.2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    flex-direction: row;
    text-align: center;
    top: 0;
    z-index: 100;
}

header img {
    height: 2.5em;
    width: auto;
    transition: 0.5s ease-in-out;
}

header img:hover{
    transform: scale(1.1);
}

#desktopnav {
    display: flex;
    align-items: center;
}

#desktopnav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

#desktopnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2vw; /* Skal muligvis kigges mere på*/
    font-family: 'roboto', sans-serif; 
}

#desktopnav ul li a:hover {
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    text-decoration: underline;
    text-underline-offset: 6px;
}
#desktopnav ul li a.active-nav{
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    text-decoration: underline;
    text-underline-offset: 6px;
}

/*------------Mobil nav-----------*/
#mobilnav {
    display: none;
    cursor: pointer; /* måske ikke relevant */
}

#mobilnav img {
    width: 100%;
    height: auto;
}

#mobil-menu {
    display: none;
    position: absolute;
    top: 80px; /* placere den lige under header */
    right: 0;
    background-color: #6F4E37;
    width: 60%;
    height: 100vh; /* er det her den bedste løsning? hvad tænker i?*/
    padding: 1em;
}

#mobil-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    text-align: left;
}

#mobil-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'roboto', sans-serif;
}


/*------------------------------FOOTER-------------------------------*/

footer {
    background-color: #6F4E37;
    color: white;
    text-align: left;
    padding: 1rem 4.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'roboto', sans-serif;
    z-index: 10;
}

/*guld hjørner stylet i styles.css*/


/*footer indhold*/

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 4em;
    width: 100%;
}

#footer-content section {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
}

#footer-content h2 {
    margin-bottom: 1em;
}

#footer-content p {
    margin-bottom: 0.5em;
    color: #fff;
}

/*kort fra google maps*/

#kort{
    overflow: hidden;
    position: relative;
    height: 250px;
}

#kort iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ikoner og sociale medier */

.ikoner, #socialmedia {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 2.5rem 0;
    max-width: 350px;
}

.ikoner img, #socialmedia img {
    height: 80px;
    width: auto;
    aspect-ratio: 1 / 1;
}

/*footer guld opdelings bundlinje*/

#footer-divider {
    padding: 1rem 0;
    align-items: center;
    width: 100%;
}
#footer-divider img {
    width: 100%;
    height: auto;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    margin: 2rem;
}

#footer-bottom a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}



/*Mobil max-width:500px Tablets · max-width:960px*/

@media screen and (max-width: 600px) {
 
    #desktopnav {
        display: none;
    }
    #mobilnav {
        display: block;
    }
    header img:hover{
    transform: none;
    }

    #kort {
        width: 100%;
    }

    footer{
        padding: 1rem 3rem;
    }

    #footer-content {
        flex-direction: column;
        width: 100%;
    }

    #footer-content section {
        width: 100%;
        max-width: 100%;
    }

    .ikoner, #socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: 2rem auto;
    }

    #footer-bottom {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    #footer-divider {
        width: auto;
    }
}


/*TABLET STØRRELSE*/

@media screen and (min-width: 601px) and (max-width: 1000px) {


    header img:hover{
        transform: none;
    }

    #desktopnav ul li a {
    font-size: 1.5vw; /* Skal muligvis kigges mere på*/
    }

    #desktopnav ul li a:hover {
        text-shadow: none;
        text-decoration: none;
    }

    /*FOOTER*/

    

    .ikoner, #socialmedia {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin: 2.5rem 0;
        max-width: 300px;
    }

    .ikoner img, #socialmedia img {
        height: 50px;
        width: auto;
        aspect-ratio: 1 / 1;
    }

    #kort {
        height: 200px;
    }


}