*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------HEADER-------------------------------*/

header {
    background-color: #6F4E37;
    padding: 1.2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    flex-direction: row;
    text-align: center;
    top: 0;
    z-index: 100;
}

header img {
    height: 3.5em;
    width: auto;
}

#desktopnav {
    display: flex;
    align-items: center;
}

#desktopnav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

#desktopnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3vw; /* Skal muligvis kigges mere på*/
    font-family: Arial, sans-serif;  /* FONTEN SKAL ÆNDRES*/
}

/*------------Mobil nav-----------*/
#mobilnav {
    display: none;
}

#mobilnav img {
    width: 100%;
    height: auto;
}

#mobil-menu {
    display: none;
    position: absolute;
    top: 80px; /* placere den lige under header */
    right: 0;
    background-color: #6F4E37;
    width: 60%;
    padding: 1em;
}

#mobil-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
}

#mobil-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}


/*------------------------------FOOTER-------------------------------*/

footer {
    background-color: #6F4E37;
    color: white;
    text-align: left;
    padding: 1em 4.5em;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*guld hjørner*/

#footer-hjørner img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    padding: 1em;
}

#footer-hjørner img:last-child {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    padding: 1em;
}

/*footer indhold*/

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
    margin-top: 4em;
}

#footer-content section {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
}

#footer-content h2 {
    margin-bottom: 1em;
}

#footer-content p {
    margin-bottom: 0.5em;
}

/*kort fra google maps*/

#kort{
    overflow: hidden;
    position: relative;
    height: 250px;
}

#kort iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ikoner og sociale medier */

.ikoner, #socialmedia {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 2.5em 0;
    max-width: 350px;
}

.ikoner img, #socialmedia img {
    height: 70px;
    width: auto;
    aspect-ratio: 1 / 1;
}

/*footer guld opdelings bundlinje*/

#footer-divider {
    margin: 2em 0;
    text-align: center;
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    text-align: center;
    margin: 2em;
}

#footer-bottom a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}



/*Mobil max-width:500px Tablets · max-width:960px*/

@media screen and (max-width: 500px) {
 
    #desktopnav {
        display: none;
    }
    #mobilnav {
        display: block;
    }

    #footer-content {
        flex-direction: column;
        align-items: center;
    }

    #footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}