
.lej-hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    align-items: center;
    margin: auto;
}

.lej-hero-info h2{
    font-size: 4rem;
}

.lej-hero-info p{
    font-size: 2rem;
}


#lejikoner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;

}

#lejikoner img{
    width: 15%;
}


/*Lej caféen afsnit*/
#lejfittyfitty{
    display: flex;
    width: 80%;
    margin: 8% auto;
    justify-content: center;
    gap: 5%;
}

.lejbilleder{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 3%;
}

.lejbilleder img{
    width: 45%;
    border-radius: 1.5rem;
    aspect-ratio: 6/5;
    object-fit: cover;
}

.lejfftekst{
    width: 32%;
}

.lejfftekst p{
    padding-top: 4%;
    font-size: 1.2rem;
    line-height: 2;
    font-family: 'roboto', sans-serif;
}


/*Praktisk information om lej caféen*/
#praktiskinfo-container{
    position: relative;
    background-image: url(images/kork-baggrund.jpg);
    text-align: center;
    padding: 3%;
    color: white;
    margin: auto;
    width: 80%;
    justify-content: center;
}

.infoboks{
    display: flex;
    margin: 2%;
    width: 80%;
    justify-content: space-between;
    margin: auto
}

.infovenstre, .infohojre{
    width: 100%;
    background-color: #f9efe1;
    border-radius: 2rem;
    margin: 2%;

    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;

    margin-left: 10%;
    margin-right: 10%;
}

.infovenstre p, .infohojre p{
    border-bottom: #bba14f solid 2px;
    padding: 10%;
    color: black;
}

.infovenstre p{
    padding: 13%;
}

/*Kontakt os afsnit*/
#kontakt-container{
    background-color: #B08968;
    border-radius: 2rem;
    padding: 3%;
    width: 60%;
    margin: 7% auto;
}

.kontaktboks{
    display: flex;
    width: 100%;
    margin: 5% 10%;
}
.kontaktinfo{
    width: 80%;
}
.kontaktinfo p{
    font-size: 1.5rem;
    line-height: 3rem;
}

.kontaktinfo p a{
    text-decoration: none;
    color: black;
}

.kontaktikoner{
    display: block;
    width: 25%;
}

.kontaktikoner img{
    display: block;
    width: 25%;
}