#forside-computer-afsnit {
    background-color: #6f4e37;
    color: #fff;
    padding: 2.5rem;
    position: relative;
    max-width: 1100px;
    margin: auto;
}

#forside-computer-indhold {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 1rem;
}

.forside-computer-col {
    flex: 1;
    text-align: center;
}

.icon {
    width: 6em;
    margin-bottom: 1rem;
}

#computer-divider {
    width: 2px;
    background-color: #fff;
}

.forside-computer-billede{
    width: 80%;
    height: 200px;
    overflow: hidden;
    margin: 1.5rem auto 0;

}

.forside-computer-billede img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


