
.lej-hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    align-items: center;
    margin: auto;
}

.lej-hero-info h2{
    font-size: 4rem;
}

.lej-hero-info p{
    font-size: 2rem;
}


#lejikoner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;

}

#lejikoner img{
    width: 15%;
}


/*Lej caféen afsnit*/
#lejfittyfitty{
    display: flex;
    width: 80%;
    margin: 8% auto;
    justify-content: center;
    gap: 5%;
}

.lejbilleder{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 3%;
}

.lejbilleder img{
    width: 45%;
    border-radius: 1.5rem;
    aspect-ratio: 6/5;
    object-fit: cover;
}

.lejfftekst{
    width: 32%;
}

.lejfftekst p{
    padding-top: 4%;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'roboto', sans-serif;
}


/*Praktisk information om lej caféen*/
#praktiskinfo-container{
    position: relative;
    background-image: url(images/kork-baggrund.jpg);
    text-align: center;
    padding: 3%;
    color: white;
    margin: auto;
    width: 80%;
}

.infoboks{
    display: flex;
    margin: 2% auto;
    width: 80%;
    justify-content: space-between;
}

.infovenstre, .infohojre{
    width: 100%;
    background-color: #f9efe1;
    border-radius: 2rem;
    margin: 2% 10%;
    padding: 2% 7%;
}

.infovenstre p, .infohojre p{
    border-bottom: #bba14f solid 2px;
    padding: 10%;
    color: black;
}
.vekstreg p{
    border-bottom: none;
}

/*Kontakt os afsnit*/

#kontakt-container{
    background-color: #B08968;
    border-radius: 2rem;
    padding: 3%;
    width: 60%;
    margin: 7% auto;
}

.kontaktboks{
    display: flex;
    width: 100%;
    margin: 5% 10%;
}
.kontaktinfo{
    width: 80%;
}

.kontaktmobil{
    display: none;
}

.kontaktinfo p{
    font-size: 1.5rem;
    line-height: 4rem;
}

.kontaktinfo p a{
    text-decoration: none;
    color: black;
}

.kontaktikoner{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1rem;
}

.kontaktikoner img{
    display: block;
    width: 25%;
}

/*---------- TIL MOBIL ------------*/

@media screen and (max-width: 600px) {

    .lej-hero-info {
        margin-top: 2rem;
    }

    #lejikoner {
        width: 100%;
        margin: 0;
        padding: 0.7rem 0.5rem;
        justify-content: space-between;
    }
    
    #lejikoner img {
        width: 20%;
        height: 20%;
    }

    #lejfittyfitty {
        width: 80%;
        height: 100%;   
        
        flex-direction: column;

    }

    .lejbilleder {
        width: 100%;
    }

    .lejbilleder img {
        width: 48%;
    }

    .lejfftekst {
        width: 100%;
        margin-top: 3rem;
        
    }

    /* PRAKTISK INFO BOKS */

    #praktiskinfo-container{
        padding: 2.5rem;
        width: 90%;

    }

    #praktiskinfo-container h2{
        margin: 1rem auto;
        font-size: 2rem;
    }

    .infoboks{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .infovenstre, .infohojre {
        padding: 0;
        margin: auto;
        padding-bottom: 3%;
    }

    .infovenstre p, .infohojre p{
        padding: 5%;
        width: 60%;
        margin: auto;
    }

    /* KONTAKT OS AFSNIT */

    #kontakt-container{
        width: 89%;
    }

    .kontaktinfo{
        width: 100%;
    }

    .kontaktinfo p{
        font-size: 1.2rem;
        line-height: 2.6rem;
    }

    .kontaktmobil{
        display: block;
    }

    .kontaktdesktop{
        display: none;
    }

    .kontaktikoner {
        width: 40%;
    }
}