
body{

    background-image: url(images/menu-baggrund.jpg);
    background-size: contain;
    
}

#overlay{ /*Sort baggrundsfarve/overlay med 0.5 transperens*/
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0;
    top: 0;
       
}

h1, a{
    font-family: 'roboto', sans-serif;
}




/*--------------------------------DROPDOWN FEATURE-------------------------------*/


.dropdown{
    position: relative;
    z-index: 2;
}

.dropdown h1{
    margin-top: 10%;
    text-align: center;
    color: white;
    font-family: 'roboto', sans-serif;
}

.drikindhold, .olindhold, .menuindhold,.julindhold{
  color: white;
  display: none;
  width: 70%;
  margin: auto;
}

.drik{
    width: 100%;
    margin: 5% auto;
    line-height: 2rem;
}  

                                            /*linjer og prikker - skal slettes*/
.linje {
    display: flex;
    align-items: baseline;
}

.lilletekst{
    font-size: 0.7rem;
}

.dots {
    flex: 1;                                /*Hvad gør denne*/
    border-bottom: 2px dotted #bba14f;
    margin: 0 8px;
}
                                            /*slut - skal slettes*/

.drik h2{
    font-family: 'roboto', sans-serif;
    padding-bottom: 5%;
}

.drikindhold.show, .olindhold.show, .menuindhold.show, .julindhold.show{
  display: flex;
}

button{
  border-top: #bba14f solid 2px;
  border-bottom: #bba14f solid 2px;
  width: 40%;
  margin: auto;
  padding: 1%;
  text-align: center;
  justify-content: center;
  margin-bottom: 2%;
  display: flex;
  gap: 4%;
  color: white;
  font-weight: 300;
  font-size: 2rem;

  /*Generelle regler for <button> i HTML*/
  background-color: transparent;
  border-left: none;
  border-right: none;
}



/* #varer{
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
    display: block;
}
.menuoverskrift{
    margin: 2%;
}

.border{
    border-top: #bba14f solid 2px;
    border-bottom: #bba14f solid 2px;
    width: 40%;
    margin: auto;
    padding: 1%;
    text-align: center;
    justify-content: center;
    margin-bottom: 2%;
    display: flex;
    gap: 4%;
}

.border h1, .border a{
    font-weight: 300;
    text-decoration: none;
    color: white;
    font-size: 2rem;

}

.border img{
    width: 7%;
} */






/*Nyheder sektion*/
#nyheder{
    margin-top: 10%;
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

#nyheder h2{
    margin-left: 2%;
    margin-bottom: 1%;
}

#nyhederindhold{
    background-color: #b08968;
    width: 100%;
    display: flex;
}

#nyhederindhold img{
    width: 2%;
}

#nyhedsprodukter img{
    width: 24.7%;
    padding: 2.5%;
    aspect-ratio: 1; /*Trækker i billederne....*/
    object-fit: cover;
    display: inline-block;
}


/*#nyhedsprodukter2{ /*Skal have nye billeder til en scrollfution med js?*
    display: none;
}*/
