.produkter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 8rem;
    width: 100%;
}

.produkt-kort {
    background: #6f4e37;
    color: #fff;
    text-align: left;
    width: 30%;
}
/*
.produkt-kort img {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    object-fit: cover;
}*/

.produkt-billeder {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.produkt-bag {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.produkt-png {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    object-fit: contain;

}

.produkt-info {
    padding: 0 1rem 1rem 1rem;
    font-family: 'roboto', sans-serif;
}

.produkt-info p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.produkt-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}