.produkter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.produkt-kort {
    display: block;
    text-decoration: none;

    background: #6f4e37;
    color: #fff;
    text-align: left;
    width: 32%;
    margin-bottom: 1.5rem;

    /* hover-animation */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.produkt-kort:hover {
    transform: translateY(-10px) ;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
    filter: brightness(1.2);
}

.produkt-kort .produkt-info-top:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.produkt-kort img {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.produkt-info {
    padding: 0 1rem 1rem 1rem;
    font-family: 'roboto', sans-serif;
}

.produkt-info p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.produkt-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}



/* enkelt produkt side*/


.breadcrumb {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    margin: 3rem 12rem;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
}

.breadcrumb span {
    margin: 0 0.4rem;
}

.breadcrumb .current {
    color: #000;
    font-weight: 600;
}

/*galleri i venstre side*/

#produkt-overview {
    display: flex;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#produkt-billede-area{
    width: 45%;
    position: relative;
}

.produkt-main-img{
 width: 100%;
 aspect-ratio: 1/1;
 object-fit: cover;
}

.pil {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.pil img {
    width: 30px;
}

.pil.venstre {
    left: -2rem;
}

.pil.hoejre {
    right: -2rem;
}

.produkt-thumbs {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
    padding-bottom: 0.4rem;
    overflow-x: auto;
}

.produkt-thumbs img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.produkt-thumbs img:hover {
    transform: scale(1.1);
}


/*tekst afsnit i højre side*/

.produkt-info-area {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
}

.produkt-info-area {
    margin-bottom: 0.5rem;
}

.produkt-info-area h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'roboto', sans-serif;
}

.produkt-info-area p {
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-bottom: 1.5rem;
    max-width: 90%;
}

.kun-butik{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.4rem;
}

/* Flere i samme kategori*/

#produkt-relateret {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: left;
}

#produkt-relateret {
    margin-bottom: 2rem;
}

#relateret-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.rel-pil {
    background: none;
    border: none;
    cursor: pointer;
}

.rel-pil img {
    width: 35px;
}



#relateret-kort-container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
}

#relateret-kort-container::-webkit-scrollbar {
    display: none;
}

/* --- SPECIFIKT TIL 'Flere i samme kategori' --- */

#relateret-kort-container .produkt-kort {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 280px;
    width: 280px;
    margin: 0;
}

#relateret-kort-container .produkt-kort img{
    height: 280px;
    object-fit: cover;
}

#relateret-kort-container .produkt-info {
    padding: 1rem;
}

#relateret-kort-container .produkt-info-top {
    font-size: 1.1rem;
}


/* Mobilvisning: 2 kort pr. række */

@media (max-width: 600px) {

    /*produkter side*/

    .produkter {
        padding: 2rem; 
        gap: 1rem;
    }

    .produkt-kort {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 0.5rem); /* sørger for at de hver fylder halvdelen og at der er plads imellem*/
        margin-bottom: 1rem;
        transition: none;
    }

    .produkt-kort img {
        height: 250px; 
        transition: none;
    }

    .produkt-kort:hover{
        transform: none;
        filter: none;
        box-shadow: none;
    }

    .produkt-info p {
        font-size: 0.78rem;
    }

    .produkt-info-top {
        font-size: 0.8rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .produkt-kort .produkt-info-top:hover {
        text-decoration: none;
    }

    /*Produktside --- enkelte produkter*/

    .breadcrumb {
        margin: 2rem 2rem;
        font-size: 1.5rem;
    }

    #produkt-overview{
        flex-direction: column;
    }

    #produkt-billede-area {
        width: 100%;
    }
    
    .produkt-thumbs::-webkit-scrollbar{
        display: none;
    }

    .produkt-thumbs img {
        transition: none;
    }

    .produkt-thumbs img:hover {
        transform: none;
    }

    .pil {
        display: none;
    }

    .produkt-info-area h3 {
        font-size: 1.1rem;
    }

    #produkt-relateret{
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .produkt-info-area{
        width: 100%;
    }

    .rel-pil{
        display: none;
    }
}

/* Tablet størrelse ------------------------------------------------------------*/

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .produkter {
    gap: 1rem;
    padding: 2rem;
    max-width: 950px;
}

.produkt-kort {
    display: block;
    margin-bottom: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.333% - 0.67rem);

}

.produkt-kort:hover {
    transform: none;
    box-shadow: none;
    filter: none;
}

.produkt-kort .produkt-info-top:hover {
    text-decoration: none;
}

.produkt-info p {
    font-size: 1rem;
    line-height: 1.3rem;
}

.produkt-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
}

/*enkelt produkt side*/

.breadcrumb{
    margin: 2rem 2rem;
}

.produkt-thumbs::-webkit-scrollbar{
    display: none;
}

.produkt-thumbs img {
    transition: none;
}

.produkt-thumbs img:hover {
    transform: none;
}

.pil {
    display: none;
}

.rel-pil{
    display: none;
}

#produkt-relateret{
        margin-bottom: 4rem;
    }

}