@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'cookie';
    src: url(fonts/Cookie-Regular.ttf) format('truetype');
}




/*--------------------------*/

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    background-color: #f9efe1;
}

h2{
    font-family: 'cookie'; 
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 2.5rem;
}

p {
    font-family: 'roboto', sans-serif;
}

.telefon-link{
    text-decoration: none;
    color: #fff;
}

.telefon-link:hover{
    text-decoration: underline;
}


/* TIL TOPPEN FEATURE*/

.til-toppen {  /* selve kassen*/
    display: none; 
    height: 140px;
    width: 90px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    bottom: 2%;
    right: 3%;
    position: fixed;
    animation: apear 1s linear;
    z-index: 15;

    }
    
    @keyframes apear {
        from { opacity: 0;  
    }
        to { opacity: 1;     
    }
    }
    
    #til-toppen-pil {    /* kassen med pilen */ 
        display: flex;
        background-color: #738743;
        width: 65px;
        height: 65px;
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    #til-toppen-pil img{
        width: 30px;
        height: 30px;
    }
    
    .til-toppen h4 { 
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: #738743;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  
        margin-top: 1rem; 
    }
    


/*scroll bar -----------------------------------------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(238, 223, 202, 0.8);
}

::-webkit-scrollbar-thumb {
    background: rgb(111, 78, 55, 0.8);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 137, 104);
}

/* Call to Action*/

.cta{
    display: block;
    max-width: fit-content;
    margin: 1rem auto 0;
    padding: 1rem 2.2rem;
    background-color: #738743;
    color: #000;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
}

.cta:hover{
    background-color: #ADC178;
    color: #000;
    transition: 0.3s ease-in-out;
}

/* Guld hjørner */

.corner {
    position: absolute;
    width: 8rem;
}

.tl {
    top: 20px;
    left: 20px;
}
.tr {
    top: 20px;
    right: 20px;
}
.bl {
    bottom: 20px;
    left: 20px;
}
.br {
    bottom: 20px;
    right: 20px;
}


/* "hero" banner sektioner */

.hero-banner {
    position: relative;
    width: 100%;
    height: 450px; /* Juster højden evt ikke px */
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*filter: brightness(70%);*/
}

.hero-info {
    position: absolute;
    top: 30%;
    right: 8%;
    color: white;
    text-align: left;
    background: rgb(176, 137, 104, 0.4);
    background: linear-gradient(90deg, rgba(176, 137, 104, 0.4) 0%, rgba(111, 78, 55, 0.4) 100%);
    backdrop-filter: blur(0.5rem);
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 1.5rem;
    border: solid 2px rgb(250, 222, 205, 0.8);
    width: 400px;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-info p {
    font-family: 'roboto', sans-serif;
    font-size: 1.4em;
    line-height: 1.5;
}


@media screen and (max-width: 600px) {

    /* til toppen knap*/

    .til-toppen { /*yderste kasse*/
        height: 100px;
        width: 90px;
    } 

    #til-toppen-pil { /*kassen med cirkel og pil*/
        width: 55px;
        height: 55px;
    }

    #til-toppen-pil img { /*billedet af pilen inde i cirklen*/
        width: 25px;
        height: 25px;
    }

    .til-toppen h4 { /*tekst størrelsen under pilen*/
        font-size: 14px;
    }

        /*--------------*/

    h2 {
        font-size: 2rem;
    }

    .telefon-link:hover{
        text-decoration: none;
    }

    .cta {
        padding: 0.8rem 1.7rem;
        font-size: 1.2rem;
        margin-bottom: 8%;
    }

    .cta:hover {
        transition: none;
        background-color: #738743;
        color: #000;
    }

    .corner{
        width: 6rem;
    }

    .tl {
        top: 15px;
        left: 15px;
    }
    .tr {
        top: 15px;
        right: 15px;
    }
    .bl {
        bottom: 15px;
        left: 15px;
    }
    .br {
        bottom: 15px;
        right: 15px;
    }

    /*hero banner sektioner*/

    .hero-info {
        width: 300px;
        margin: auto;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-info p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    
}

@media screen and (min-width: 601px) and (max-width: 960px){

    h2 {
        font-size: 2.3rem;
    }
    
}